---
import Stack from "./Stack.astro";
const { class: classes, ...rest } = Astro.props;
---

<section class:list={["island", classes]} {...rest}>
  <Stack>
    <slot name="title" />
    <slot />
  </Stack>
</section>

<style>
  .island {
    background-color: var(--color-land);
    border: var(--color-beach) 8px solid;
    border-radius: 16px;
    box-shadow: 0 0 2px 5px hsla(0 0% 0% / 0.1);
    padding: 16px;
  }
</style>
