---
import Stack from "./Stack.astro";
---

<section class="island">
  <Stack>
    <slot name="title" />
    <slot />
  </Stack>
</section>

<style>
  .island {
    background-color: var(--accent);
    border: #e9d59c 8px solid;
    border-radius: 16px;
    padding: 16px;
  }
</style>
