---
const { class: classes, ...rest } = Astro.props;
---

<section
  class:list={[
    "bg-[#a6bf40] rounded-4xl border-amber-200 border-8 border-solid p-4 shadow-island",
    classes,
  ]}
  {...rest}
>
  <slot />
</section>
